 *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.navbar{
    position: fixed;
    top: 0;
    border: 2px solid black;
    margin: 10px;
    width: 99%;
    height: 50px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    background-color: aliceblue;
}

.navbar b{
    padding: 0 12px;
    font-size: 16px;
}

.home{
    border: 2px solid rgb(196, 176, 145);
    border-radius: 2px;
    text-align: center;
    margin: 75px 5px 75px 9px;
    padding: 10px;
    width: 99%;
    height: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.home p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: 500;
}

.login{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: center;
    gap: 20px;
}

.login-box{
    margin-top: 30px;
    border: 2px solid rgb(196, 176, 145);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    margin-top: 80px;
    padding: 10px;
    width: 300px;
    min-height: 50vh;
}

.login-box h1{
    color: black;
    margin: 5px 30px;
    text-align: center;
}

.login-box input{
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    height: 30px;
    margin-top: 10px;
    text-align: center;
    border: 2px solid brown;
    border-radius: 3px;
    box-shadow: 3px 4px 9px rgba(110, 88, 37, 0.5);
}

.login-box .button{
    background-color: black;
    color: whitesmoke;
    border-radius: 6px;
    min-height: 50px;
    min-width: 90px;
    padding: 5px 30px;
    margin: 5px auto ;
    display: block;
    border: none;
    font-size: 19px;
    cursor: pointer;
}

.login-box .button:hover{
  
    background-color: #5f1019;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: #ffffffcc;
    border-top: 1px solid #ddd;
    box-shadow: 0 -2px 6px rgba(0,0,0,0.08);
}

.footer p{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: center;
}

.footer h1{
    margin: 0 0 4px 0;
    font-size: 18px;
}