body{
    display: flex;
    flex-direction: column; /* stack header, main, footer vertically */
    justify-content: flex-start;
    align-items: center;
    padding-top: 70px; /* space for fixed navbar */
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
}

.login{
    margin-top: 16px;
    background-color: white;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

.login h1{
    color: #333;
    margin-bottom: 30px;
}

.login input{
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.button{
    background-color: teal;
    color: white;
    border-radius: 5px;
    padding: 12px 30px;
    margin-top: 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.button:hover{
    background-color: #006666;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: #ffffffcc;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    z-index: 1000;
}

.navbar b{
    padding: 0 12px;
    font-size: 16px;
}

.home{
    background-color: white;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 900px;
}


.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 10px 0; */
    box-sizing: border-box;
}

.footer p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

