*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.list{
    margin-top: 75px;
    text-align: center;
    font-size: 30px;
}

.food-List{
    margin: 5px 5px 75px 9px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.food-card{
    height: 250px;
    width: 270px;
    padding: 20px;
    margin-top: 10px;
    border-radius: 15px;
    background-color: bisque;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.food-card .food-id{
    color: red;
    font-size: 12px;
}

.food-card .title{
    color: teal;
    font-size: 18px;
    font-weight: bolder;
    margin: 5px 0px 5px 0px;
}

.food-card .base-price{
    font-style: italic;
    margin-top: 6px;
    font-size: 10px;
}
